/*  

INTRODUCTION:
	This document is a template (fully working) cascading stylesheet for
	Web pages that conform to the Treasury Board and National Research Council
	Common Look and Feel (CLF) for the Internet policy. It provides a set of
	styles and classes which, along with the (X)HTML templates, will help any
	NRC Web developer looking to create a CLF-compliant page. The stylesheet
	is commented to make it as understandable as possible.
	
BREAKDOWN:
	1. <body> and <p> styles
	2. Link styles
		2.1 General (unspecified) link styles
		2.2 Breadcrumbs
		2.3 Side navigation
		2.4 Top navigation
	3. Styles for other common HTML elements (tables, lists, headers)
	4. Special classes
		4.1 Classes to apply convenient names to colours and sizes
		4.2 Rounded feature boxes
		4.3 I/B/P identifier text
	5. XHTML-specific styles for proper image display

INSTRUCTIONS:
	(1) Any style specified in this stylesheet which sets a font size does it in
		points (e.g. 8pt). Each of these styles is repeated in the percent.css
		stylesheet with the font size given in percentages (e.g. 85%). This means
		that whenever you add/change/delete a style that affects font sizes you must
		do it in both stylesheets. If you only do it in this one, your font sizes
		will be fixed and your page will be less accessible! For an explanation of
		why the styles are split among two stylesheets, see
		http://zone.nrc-cnrc.gc.ca/clf-nsi/infocentre/ic_docs_stylesheet_e.shtml

*/
	
/* 1. body and p - most text will fit into one of these two styles */
body { 
	font-size: 10pt; /* This will be overridden in percent.css */
	background: #FFFFFF;
	color: #000000; 
	font-family: arial, helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
}

/* Inheritance doesn't work in NS4 so re-specify for paragraphs */
p { font-size: 10pt; font-family: arial, helvetica, sans-serif; }



/* 2. Link styles */
/* 2.1 General-purpose link styles */

/* Links without any classes on them will be blue, or grey if visited,
	and purple if active or under the mouse cursor */
a:link { color: #666699; }
a:visited { color: #996666; }
a:hover { color: #666699; }
a:active { color: #666699; }

/* 'noline' class can be applied to a link to
   prevent it from being underlined */
a.noline { text-decoration: none; }

/* 'nofade' class can be applied to a link to
	prevent it from turning grey when visited */
a.nofade:visited { color: #666699; }
a.nofade { color: #666699; }
a.nofade:active { color: #666699; }
a.nofade:hover { color: #666699; }

/* 2.2 Breadcrumb link styles */

.breadcrumb { font-size: 8pt; font-family: arial, helvetica, sans-serif; font-weight: bold; }
.breadcrumb a:link { color: #666699; }
.breadcrumb a:visited { color: #999999; }
.breadcrumb a:hover { color: #999999; text-decoration: none; }
.breadcrumb a:active { color: #999999; }


/* 2.3 Side-navigation button link styles */

/* 'sidenav' class is for toolbox-style left-side navigation buttons */
a.sidenav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	line-height: 100%;
	color: #000000;
	text-decoration: none;
	text-align: right;
	display: block; /* Make clickable area fill the button */
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Specify that sidenav shouldn't fade to grey when visited */
a.sidenav:visited { color: #000000; }
a.sidenav { color: #000000; }
a.sidenav:active { color: #000000; }
a.sidenav:hover { color: #999999; }

/* 2.4 Top-navigation link styles */
/* menuBlack and menuColoured are classes applied to the <td> tags that contain the top-nav links
   The <a> tags that inherit from them are also styled to look as good as possible in all browsers
   The menuColouredDoubleWidth class is for horizontally-joined buttons */

.menuBlack {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 9pt;
	color : #999999;
	background-color : #000000;
	padding: 0px 2px 0px 3px;
	width : 20%;
}

.menuBlack a {
	padding: 1px;
	margin: 0px;
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	display: block;
	width: 95%;
}
.menuBlack a:visited { color: #ffffff; }
.menuBlack a:active { color: #ffffff; }
.menuBlack a:hover { color: #ffffff; }

/* Institutional Menu Bar 1rst Level navigation link styles  - aka dark purple bar*/
.menuColoured {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 9pt;
	color : #FFFFFF;
	background-color : #666699;
	padding: 0px 2px 0px 3px;
	width : 20%;
}

.menuColoured a {
	color: #FFFFFF;					/* Foreground colour of inst menu bar links */
	background-color: #666699;		/* Background colour of inst menu bar links */
	text-decoration: none;
	padding: 1px;
	margin: 0;
	display: block;
	width: 95%;
}
.menuColoured a:visited 	{ color: #FFFFFF; }
.menuColoured a:active 	{ color: #FFFFFF; }
.menuColoured a:hover 	{ color: #FFFFFF; }

/* Institutional Menu Bar 2nd Level navigation link styles  - aka light purple bar*/

.menuColoured2nd {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 9pt;
	color : #FFFFFF;
	background-color : #9999CC;
	padding: 0px 2px 0px 3px;
	width : 20%;
}
.menuColoured2nd a {
	color: #FFFFFF;					/* Foreground colour of inst menu bar links */
	background-color: #9999CC;		/* Background colour of inst menu bar links */
	text-decoration: none;
	padding: 1px;
	margin: 0;
	display: block;
	width: 95%;
}
.menuColoured2nd a:visited 	{ color: #FFFFFF; }
.menuColoured2nd a:active 	{ color: #FFFFFF; }
.menuColoured2nd a:hover 	{ color: #FFFFFF; }

/* 3 Other page elements */

/* Make things in tables arial in NS4 */
td { font-family: arial, helvetica, sans-serif; }

/* No borders on images by default */
img { border-style: none; }

/* Lists have square bullets by default */
ul {
	list-style: square;
	font-family: arial, helvetica, sans-serif;
	margin-top: 0%;
	margin-bottom: 0%;
}

/* Have to style this to make it work properly in NS4 */
li {
	font-size: 10pt;
	font-family: arial, helvetica, sans-serif;
}

/* Header styles */
h1 {
	font-size: 15pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight : bold;
	color: #666699;
	margin-bottom : 0%;
	padding-bottom : 0%;
	border-bottom : 2px solid #9999CC;
}
h2 {
	font-size: 13pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight : bold;
	margin-bottom: 0%;
	color: #666699;
}
h3 {
	font-size: 13pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight : bold;
	margin-bottom: 0%;
	color: #666699;
}

/* 4 Other classes */

/* 4.1 Convenience classes */

/*  Classes to size text for convenience */
.small { font-size: 9pt }
.smaller { font-size: 8pt }


/* 4.2 Rounded feature boxes */

.features {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: normal;
}

a.features {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: normal;
}

.featuresTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 14px;
	color: #003366;
	font-weight: bold;
}

.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 100%;
	color: #990000;

}

.greybgrnd {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}

.featuresBackground {
	background-image: url(/zone/clf-nsi/images/features/headerBackground.gif);
}

/* 5 XHTML-specific styles */

.imgcell img, .imgcell a { 
        display: block; 
        margin: 0; 
        border: 0; 
        padding: 0; 
}

.tight img, .tight a {
		margin: 0;
		border: 0;
		padding: 0;
}


